hr {
      border-style: dotted none none;
      height: 1px;
      border-color: grey;
      border-width: 10px;
      width: 15%

  }


  body {
    background-color: #2C3639;
}

h1 {
    Color: #231955;
}
